// Bootstrap uses JS to set the element style so you can
// override those styles like this
body.modal-open[style] {
    padding-right: 0px !important;
}

#mainNav {
    background-color: #7d0087;
    .navbar-nav {
        li.nav-item a.nav-link.active:hover,
        li.nav-item a.nav-link.active {
            color: #fff;
            background: #e10af1;
        }
        li.nav-item a.nav-link:hover {
            color: #e10af1;
        }
    }
}
#portfolio,
#themes {
    .fade {
        opacity: 0;
        transition: all 0.8s ease;
        background-color: #e10af194;
    }
    .fade:hover {
        opacity: 1;
    }
}
.div-whatsapp {
    z-index: 1042;
    bottom: 80px;
    right: 16px;
}
.div-tel {
    z-index: 1042;
    bottom: 80px;
    right: 16px;
}
#pagamento {
    hr {
        transition: all 0.8s ease;
        width: 50px;
    }
    .col:hover {
        hr {
            transition: all 0.8s ease;
            width: 110px;
        }
    }
}

footer {
    a {
        text-decoration: none;
    }
}

#messageModal,
#recaptchaModal {
    .modal-content {
        border-radius: 20px;
    }
    p {
        margin: auto;
        margin-top: 19px;
        margin-bottom: 19px;
    }
}
